html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 0 100px;
  position: relative;
  /*min-height: 100%;*/
  box-sizing: border-box;
  
}

.wrapper-two {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}

.text-size-30 {
  font-size: 30px;
}

.project {
  min-width: 300px;
  width: 75%;
  min-height: 400px;
  height: 60%;
  max-height: 60%;
  max-width: 75%;
  box-sizing: border-box;
  padding-top: 50px;
}

.centered {
  /*position: fixed;*/
  /*top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(10%, 0);*/
  margin: auto;
}

.centered-left {
  width: 128px;
  /* bring your own prefixes */
  /*transform: translate(35%, 0);*/
  margin: auto;
}

.projects {
  min-width: 300px;
  width: 75%;
}
.projects ul {
  list-style: none;
}

.projects li {
  text-align: center;
}

#joey:hover:after{
  content: url(/img/joey.jpg); /* no need for qoutes */
  display: block;
  margin: auto;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}