a {
  text-decoration: none;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  
}

#logo {
    text-decoration: none;
  text-align: center;
  margin: 0;
}

#navbar {
    max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
#navbar ul{
  list-style: none;
}

#navbar li{
  display: inline;
}

.project {
  min-width: 300px;
  width: 75%;
  max-width: 100%;
  box-sizing: border-box;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -60%);
}

.centered-left {
  /* bring your own prefixes */
  transform: translate(45%, 0);
}