html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 0 100px;
  position: relative;
  /*min-height: 100%;*/
  box-sizing: border-box;
  
}

.project {
  min-width: 300px;
  width: 75%;
  min-height: 400px;
  height: 60%;
  max-height: 60%;
  max-width: 75%;
  box-sizing: border-box;
  padding-top: 50px;
}

.centered {
  /*position: fixed;*/
  /*top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(10%, 0);*/
  margin: auto;
}

.centered-left {
  width: 128px;
  /* bring your own prefixes */
  /*transform: translate(35%, 0);*/
  margin: auto;
}