<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arjun Mehta</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <a href="/index.html" id="logo">
        <h1>Arjun Mehta</h1>
      </a>
      <nav id="navbar">
        <ul>
          <li><a href="/index">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      {{ content }}
      </div>
    <footer>
        <a href="http://github.com/arjunmehta94/"><img class='footer-img' src="/img/github.png"></a>
        <a href="http://www.facebook.com/arjun.mehta.35/"><img class='footer-img' src="/img/facebook_circle_black.png"></a>
        <a href="http://www.linkedin.com/in/arjunmehta94/"><img class='footer-img' src="/img/linkedin_circle_black.png"></a>
      <p>&copy; 2021 Arjun Mehta.</p>
    </footer>
  </body>
</html>